html,body, h1 {

    background-color: lightgreen;
    text-align: center;
    justify-content: center;
    color: black;
}

img {
    height:200px;
    width:200px;
    padding: 20px;
}



.cardsinfo{
    
    display: block;
    float:right;
    padding: 30px;
    font-size: 50px;
    font-weight: 500;
    color: black;
    
}



h1 {
    font-size: 50px;
    text-align: center;
    border: black solid 5px;
    
    
}

h2 {
    font-size: 50px;
    font-weight: 700;
    text-decoration: underline;
}
.container-box {
  
   
    margin:0 auto;
    width: 60%;
    background-color: white;
    color: rgb(255, 21, 0);
    font-weight: 800;
    padding: 10px;
    font-size: 45px;
    text-align: center;
    background-color: lightgreen;
    
    
}


.replay {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    font-size: 30px;
}

.game {
    display: flex;
    flex: column;
}

.mycards {

    border: 5px solid black;
    background-color: lightskyblue;
    display: flex;
    flex-wrap: wrap;
    width: 50%;

}

.hiscards {
    border: 5px solid black;
    background-color: lightseagreen;
    display: flex;  
    flex-wrap: wrap;
    width: 50%;
    
          
   
}

.newcont {
    
    font-size: 30px;
    text-align: center;
    padding: 10px;
    
}

.resultcontainer {

    display: flex;
}

.finalresults {
    font-size: 30px;
}