html,body, h1 {

    background-color: rgb(76, 243, 76);
    font-weight: 500;
    color: black;
}

img {
    height:200px;
    width:200px;
    padding: 20px;
}

.mycards {

    border: 5px solid black;
    background-color: red;
    display: block;
    
}
.cardsinfo{
    
    display: block;
    float:right;
    padding: 30px;
    font-size: 50px;
    font-weight: 500;
    color: black;
    
}
.hiscards {
    border: 5px solid black;
    background-color: blue;
          
   
}



h1 {
    font-size: 50px;
    text-align: center;
    border: black solid 5px;
    
    
}

h2 {
    font-size: 50px;
    font-weight: 700;
    text-decoration: underline;
}
.container-box {
  
   
    margin:0 auto;
    width: 60%;
    background-color: white;
    color: rgb(255, 21, 0);
    font-weight: 800;
    padding: 10px;
    font-size: 45px;
    text-align: center;
    background-color: rgb(76, 243, 76);
    
    
}

.buttonbox {
    margin:0 auto;
    width: 60%;
    background-color: white;
    padding: 10px;
    font-size: 30px;
    text-align: center;

}

.replay {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    font-size: 30px;
}